        <script src="socket.io/socket.io.js"></script>
        <script src="js/chat.js"></script>
        <footer>
            <br>
            Electric Horse - Todos los derechos reservados<br>
            Juan José Montoya Restrepo - Mateo Martínez Palacio
        </footer>
    </body>
</html>