<!DOCTYPE html>
<html>
    <head>
        <title>Entregable 2</title>
        <link href="css/index.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <header> 
            <div class="navegacion">
                <div class="imagen_perfil">
                    <img src="data:img/jpeg;base64,{{avatar}}" width="115px" height="115px">
                </div>  
                <div class="header_buttons">
                    {{#if est}}
                        <h2 style="margin-top: 8px;">{{est.nombre}} -- {{est.rol}}</h2>
                    {{/if}}
                    <a href="/cursos"><button>Cursos disponibles</button></a>
                    <a href="/misCursos"><button>Mis cursos</button></a>
                    <a href="/contactenos"><button>Contacto</button></a>
                    <a href="/chat"><button>Chat</button></a>
                    <a href="/salir"><button>Salir</button></a>
                </div>
            </div>
        </header>